.post{
background-color: aliceblue;
margin-top: 10%;
width: 700px;
justify-content: center;
justify-items: center;
margin-left: 20%;
}
.postHeader{
    display: flex;
    margin-left: 4%;
    
}
.postThumb{
    widows: 50px;
    height: 50px;
    border-radius: 100%;
    

}
h4{

    align-items: center;
}
.countButton{
   /* display: flex;  */
    
    width: 50px;
    height: 50px;
    /* align-items: center; */
    margin-left: 2%;

}
.heart{
    width: 20px;
    height: 20px;
    margin-bottom: 0%;

    
}
.count{
    margin-bottom: 2%;
}
